body{
margin:0;
font-family:Arial;
background:#0b1020;
color:white;
}

header{
text-align:center;
padding:80px 20px;
background:linear-gradient(45deg,#6a00ff,#00d4ff);
}

h1{
text-shadow:0 0 15px cyan;
}

.btn{
background:#ff00ff;
padding:12px 20px;
color:white;
text-decoration:none;
border-radius:10px;
margin:5px;
display:inline-block;
box-shadow:0 0 20px #ff00ff;
}

.card{
background:#151a2c;
padding:20px;
margin:20px;
border-radius:15px;
box-shadow:0 0 15px #00d4ff;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
}

nav{
padding:15px;
background:black;
}

nav a{
color:white;
text-decoration:none;
}

input{
padding:12px;
width:300px;
border-radius:10px;
border:none;
margin:20px;
}
